/* Breakpoint Font Sizes */

.xs-title {
  font-size: 6.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
}
.sm-title {
  font-size: 10rem;
}
.md-title {
  font-size: 14rem;
}
.lg-title {
  font-size: 16rem;
}
.xl-title {
  font-size: 16rem;
}

.xs-subtitle {
  font-size: 2.5rem;
}
.sm-subtitle {
  font-size: 3rem;
}
.md-subtitle {
  font-size: 3rem;
}
.lg-subtitle {
  font-size: 3.2rem;
}
.xl-subtitle {
  font-size: 3.2rem;
}

.xs-body {
  font-family: "MoniqaMedParagraph";
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  line-height: 2.4rem;
}
.sm-body {
  font-family: "MoniqaMedParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.md-body {
  font-family: "MoniqaLightParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.lg-body {
  font-family: "MoniqaLightParagraph";
  font-size: 3.2rem;
  line-height: 3.6rem;
}
.xl-body {
  font-family: "MoniqaLightParagraph";
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.xs-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.sm-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.md-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.lg-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.xl-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}

.xs-nav {
  letter-spacing: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.sm-nav {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.md-nav {
  font-size: 1.4rem;
}
.lg-nav {
  font-size: 1.8rem;
}
.xl-nav {
  font-size: 1.8rem;
}

.xs-input {
  color: var(--beige);
  font-size: 1.4rem;
}
.sm-input {
  color: var(--beige);
  font-size: 1.4rem;
}
.md-input {
  color: var(--beige);
  font-size: 1.4rem;
}
.lg-input {
  color: var(--beige);
  font-size: 1.6rem;
}
.xl-input {
  color: var(--beige);
  font-size: 1.6rem;
}
