/* Breakpoint Font Sizes */

.xs-title {
  font-size: 3rem;
}
.sm-title {
  font-size: 4rem;
}
.md-title {
  font-size: 14rem;
}
.lg-title {
  font-size: 16rem;
}
.xl-title {
  font-size: 16rem;
}

.xs-subtitle {
  font-size: 1rem;
}
.sm-subtitle {
  font-size: 1rem;
}
.md-subtitle {
  font-size: 3rem;
}
.lg-subtitle {
  font-size: 3.2rem;
}
.xl-subtitle {
  font-size: 3.2rem;
}

.xs-body {
  font-family: "MoniqaLightParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.sm-body {
  font-family: "MoniqaLightParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.md-body {
  font-family: "MoniqaLightParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.lg-body {
  font-family: "MoniqaLightParagraph";
  font-size: 3.2rem;
  line-height: 3.6rem;
}
.xl-body {
  font-family: "MoniqaLightParagraph";
  font-size: 3.2rem;
  line-height: 3.6rem;
}

.xs-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.sm-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.md-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.lg-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}
.xl-body-bold {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 2.8rem;
  line-height: 3rem;
}

.xs-nav {
  font-family: "MoniqaSemiBoldParagraph";
  font-size: 1.8rem;
}
.sm-nav {
  font-size: 1.8rem;
}
.md-nav {
  font-size: 1.4rem;
}
.lg-nav {
  font-size: 1.8rem;
}
.xl-nav {
  font-size: 1.8rem;
}
