:root {
  --white: #ffffff;
  --dark-grey: #707070;
  --mid-grey: #999999;
  --mid-light-grey: #bbbbbb;
  --grey: #cccccc;
  --light-grey: #f2f2f2;
  --lightest-grey: #f1f1f1;
  --charcoal: #2b2b2b;
  --navy: #69848f;
  --black: #2b2b2b;
  --red: #f42c2c;

  --darker-green: #42441c;
  --dark-green: #a2a281;
  --green: #d4cf98;
  --pink: #d0a592;
  --dark-pink: #b28689;
  --light-orange: #cfa363;
  --orange: #bf864c;
  --beige: #f7eccc;
  --dark: #17130f;

  --primary: var(--orange);
  --secondary: var(--navy);
}
