@font-face {
  font-family: "EmberlyLightItalic";
  src: url("../assets/fonts/Emberly-LightItalic.ttf");
}
@font-face {
  font-family: "Bigilla";
  src: url("../assets/fonts/Bigilla.otf");
}

@font-face {
  font-family: "MoniqaSemiBoldParagraph";
  src: url("../assets/fonts/Moniqa-SemiBoldParagraph.ttf");
}

@font-face {
  font-family: "MoniqaSemiBoldParagraph";
  src: url("../assets/fonts/Moniqa-SemiBoldParagraph.ttf");
}

@font-face {
  font-family: "MoniqaParagraph";
  src: url("../assets/fonts/Moniqa-Paragraph.ttf");
}

@font-face {
  font-family: "MoniqaMedParagraph";
  src: url("../assets/fonts/Moniqa-MediumParagraph.ttf");
}

@font-face {
  font-family: "MoniqaLightParagraph";
  src: url("../assets/fonts/Moniqa-LightParagraph.ttf");
}

@font-face {
  font-family: "MoniqaExtraLightParagraph";
  src: url("../assets/fonts/Moniqa-ExtraLightParagraph.ttf");
}
