:root {
  font-size: 10px;
  color: var(--black);
}

html {
  /* This is set in javascript by Vuetify, so we need !important :/ */
  /* overflow-y: auto !important; */
  overflow-y: auto !important;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--orange);
}

p {
  letter-spacing: 0.12rem;
}

h5 {
  font-family: "MoniqaExtraLightParagraph";
  letter-spacing: 0.22rem;
}
